<h1>List of Products</h1>
<link rel="stylesheet" href="/css/listOfProducts.css">
<div>
    <button onclick="signup()">Signup</button>
    <button onclick="login()">Login</button>
</div>
<table id="container">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Size</th>
        <th>Image</th>
        <th>Tags</th>
        <th>Price</th>
        <th>On Stock</th>
    </tr>
    {{#products}}
    <tr id="row-{{productid}}">
        <td class="demo1">
            <a href="/items/{{productid}}">{{productid}}</a>
        </td>
        <td class="demo">
            <a href="/items/{{productid}}">{{name}}</a>
        </td>
        <td class="demo1">
            <a href="/Items/{{productid}}">{{size}}</a>
        </td>
        <td class="demo">
            <img src="{{image}}" alt="{{name}}">
        </td>
        <td class="demo1">
            <a href="/items/{{productid}}">{{tags}}</a>
        </td>
        <td class="demo">
            <a href="/Items/{{productid}}">{{price}}</a>
        </td>
        <td class="demo1">
            <a href="/Items/{{productid}}">{{onstock}}</a>
        </td>
    </tr>
    {{/products}}
</table>
<a href="/items">List of products</a>
<script src="scripts/listOfProducts.js"></script>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->