<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/signup.css">
    <title>Login</title>
</head>
<body>
    <div>
        <div>To login please enter you username and password.</div>
        <div><span>Username:</span><input type="text" id="username"></div>
        <div><span>Password:</span><input type="password" id="password"></div>
        <button onclick="cancel()">Cancel</button>
        <button onclick="login()">Login</button>
        <div id="message"></div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="scripts/login.js"></script>
</body>
</html>