<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="addToCart.css">
</head>

<body>
    <div class="product-price" style="margin-left:60px;"></div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="./client/icons/addToCart.png" alt="" />
        </button>

        <input type="text" name="name" value="1">

        <button class="minus-btn" type="button" name="button">
            <img src="./client/icon/removeIcon.png" alt="" />
        </button>

        <div class="total-price">&lt;label>&lt;/label></div>
        <script src="addToCart.js"></script>
</body>

</html>