<h1>List of Products</h1>
<link rel="stylesheet" href="/css/listOfProducts.css">
<table id="container">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Size</th>
        <th>Description</th>
        <th>Image</th>
        <th>Tags</th>
        <th>Price</th>
        <th>Availability</th>
    </tr>
    {{#products}}
    <tr id="row-{{socksid}}">
        <td class="demo">
            <a href="/Item/{{productid}}">{{productid}}</a>
        </td>
        <td class="demo">
            <a href="/Item/{{productid}}">{{name}}</a>
        </td>
        <td class="demo">
            <a href="/Item/{{productid}}">{{size}}</a>
        </td>
        <td class="demo">
            <a href="/Item/{{productid}}">{{description}}</a>
        </td>
        <td class="demo">
            <a href="/Item/{{productid}}">{{image}}</a>
        </td>
        <td class="demo">
            <a href="/Item/{{productid}}">{{tags}}</a>
        </td>
        <td class="demo">
            <a href="/Item/{{productid}}">{{Price}}</a>
        </td>
        <td class="demo">
            <a href="/Item/{{productid}}">{{availability}}</a>
        </td>
        </td>
    </tr>
    {{/solarsystem}}
</table>
<script src="scripts/listOfProducts.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<a href="List of products"></a>