<h1>Single Product Details</h1>
<link rel="stylesheet" href="/css/planetDetails.css">
<div id="container">
    <div>
        <span>Id:</span>
        <span>{{product.productid}}</span>
    </div>
    <div>
        <span>Name</span>
        <span>{{product.name}}</span>
    </div>
    <div>
        <span>Size</span>
        <span>{{product.size}}</span>
    </div>
    <div>
        <span>Image:</span>
       <img src="{{product.image}}" alt="{{product.name}}">
    </div>
    <div>
        <span>Tags</span>
        <span>{{product.tags}}</span>
    </div>
    <div>
        <span>Price</span>
        <span>{{product.price}}</span>
    </div>
    <div>
        <span>Availability</span>
        <span>{{product.availability}}</span>
    </div>
    <div>
        <span>Description</span>
        <span>{{product.description}}</span>
    </div>
</div>
<a href="/items">List Of Products</a>
<!--this is from server.js -->