<h1>Single Product Detail</h1>
<div>
    <div>
        <span>Id:</span>
        <span>{{id}}</span>
    </div>
    <div>
        <span>Name</span>
        <span>{{name}}</span>
    </div>
    <div>
        <span>Size</span>
        <span>{{size}}</span>
    </div>
    <div>
        <span>Image:</span>
        <span>{{Image}}</span>
    </div>
    <div>
        <span>Tags</span>
        <span>{{Tags}}</span>
    </div>
    <div>
        <span>Price</span>
        <span>{{Price}}</span>
    </div>
    <div>
        <span>Availability</span>
        <span>{{Availability}}</span>
    </div>
</div>
<a href="/pets">List Of pets</a>